body {
  max-width: 1060px;
  margin: auto;
  text-align: center;
}

#allumettes {
  display: flex;
  position: relative;
  margin-bottom: 100px;

  hr {
    height: 200px;
    width: 5px;
    background-color: brown;
  }
}

p {
  font-size: 25px;
}

.taken-player {
  animation: 1s slideDown;
  animation-fill-mode: forwards;
  position: relative;
}

@keyframes slideDown {
  0% {
    bottom: 0;
    opacity: 1;
  }

  50% {
    bottom: -100px;
    opacity: 0.8;
  }

  100% {
    bottom: -100px;
    opacity: 0;
  }
}

.taken-computer {
  animation: 1s slideUp;
  animation-fill-mode: forwards;
  position: relative;
}

@keyframes slideUp {
  0% {
    top: 0;
    opacity: 1;
  }

  50% {
    top: -100px;
    opacity: 0.8;
  }

  100% {
    top: -100px;
    opacity: 0;
  }
}

button {
  padding: 20px;
}

.hidden {
  display: none;
}
